In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.cluster import KMeans, AgglomerativeClustering, Birch
from sklearn.decomposition import PCA

import seaborn as sb

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import TSNE

import warnings
warnings.filterwarnings('ignore')

In [80]:
#Read in teh csv file
playlistDF = pd.read_csv('cleaned_data.csv')
playlistDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          10000 non-null  object
 1   artists           9999 non-null   object
 2   album_name        9999 non-null   object
 3   track_name        9999 non-null   object
 4   popularity        10000 non-null  int64
 5   duration_ms       10000 non-null  int64
 6   explicit          10000 non-null  bool
 7   danceability      10000 non-null  float64
 8   energy            10000 non-null  float64
 9   key               10000 non-null  int64
 10  loudness          10000 non-null  float64
 11  mode              10000 non-null  int64
 12  speechiness       10000 non-null  float64
 13  acousticness      10000 non-null  float64
 14  instrumentalness  10000 non-null  float64
 15  liveness          10000 non-null  float64
 16  valence           10000 non-null  float64
 17  tempo             10000 non-null  float64
 18  time_signature    10000 non-null  int64
 19  track_genre       10000 non-null  object
dtypes: bool(1), float64(9), int64(5), object(5)
memory usage: 1.5+ MB

In [81]:
#Drop null values
playlistDF.dropna(inplace=True)
playlistDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          9999 non-null   object
 1   artists           9999 non-null   object
 2   album_name        9999 non-null   object
 3   track_name        9999 non-null   object
 4   popularity        9999 non-null   int64
 5   duration_ms       9999 non-null   int64
 6   explicit          9999 non-null   bool
 7   danceability      9999 non-null   float64
 8   energy            9999 non-null   float64
 9   key               9999 non-null   int64
 10  loudness          9999 non-null   float64
 11  mode              9999 non-null   int64
 12  speechiness       9999 non-null   float64
 13  acousticness      9999 non-null   float64
 14  instrumentalness  9999 non-null   float64
 15  liveness          9999 non-null   float64
 16  valence           9999 non-null   float64
 17  tempo             9999 non-null   float64
 18  time_signature    9999 non-null   int64
 19  track_genre       9999 non-null   object
dtypes: bool(1), float64(9), int64(5), object(5)
memory usage: 1.5+ MB

In [182]:
#Display playlistDF
playlistDF

,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,1gUAX2ImxDsB3YDcyxMXlB,美波,カワキヲアメク,カワキヲアメク,71,251933,False,0.541,0.846,6,-2.729,0,0.0551,0.01220,0.000149,0.1630,0.524,129.138,4,anime
1,1di1C0QI6Y92yZPYn6XYAZ,KANA-BOON,TIME,シルエット,73,240133,False,0.436,0.934,2,-2.685,1,0.0507,0.00001,0.140000,0.3210,0.384,91.481,4,anime
2,3khEEPRyBeOUabbmOPJzAG,Kenshi Yonezu,KICK BACK,KICK BACK,83,193495,False,0.577,0.941,1,-5.170,1,0.1050,0.00207,0.000003,0.0891,0.292,101.921,4,anime
3,1rN9QoVxw5U7TJkyaUR8C1,TK from Ling tosite sigure,Fantastic Magic,unravel,73,238360,False,0.508,0.889,7,-2.755,0,0.0862,0.04950,0.000000,0.0984,0.332,135.014,4,anime
4,23phSRwoMy48rwFpmuAP8q,Yoko Takahashi,残酷な天使のテーゼ/魂のルフラン,残酷な天使のテーゼ,60,247746,False,0.691,0.773,0,-5.244,0,0.0494,0.01740,0.000451,0.1170,0.502,128.162,4,anime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,6L7edR8ePoAiOEthSAfeBD,Gerson Rufino,Reconstrução,Reconstrução,46,262143,False,0.769,0.718,0,-5.809,1,0.0241,0.23400,0.000000,0.1680,0.725,105.015,4,sertanejo
9996,0t9X7I69027UILQB4WYCai,Chico Rey & Paraná,"Sucessos de Ouro, Vol. 15",Velha Porteira,43,224600,False,0.529,0.564,4,-4.713,1,0.0247,0.66800,0.000000,0.1960,0.594,160.445,3,sertanejo
9997,6nYIAevQfh7QhuQYXYLy50,Léo & Raphael,Na Contramão do Sucesso,Aqui É Parana Cunhado,44,153426,False,0.690,0.926,1,-5.584,0,0.1830,0.33600,0.000000,0.0319,0.867,178.119,4,sertanejo
9998,7ALQOUgUrUifvmcGMCyvld,Os Serranos,"Os Serranos Interpretam Sucessos Gaúchos, Vol. 3",O Casamento de Doralice,44,250600,False,0.763,0.769,1,-6.245,1,0.0292,0.23500,0.000041,0.0545,0.857,92.035,4,sertanejo
9999,23iyR47eBWtYZPWReCbAfy,João Paulo & Daniel,Volume 8,Preciso te encontrar,43,201946,False,0.771,0.722,11,-8.718,1,0.0327,0.13800,0.000000,0.1270,0.940,130.065,4,sertanejo

In [83]:
#Display the column names for playlistDF
playlistDF.columns

Index(['track_id', 'artists', 'album_name', 'track_name', 'popularity',
       'duration_ms', 'explicit', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature', 'track_genre'],
      dtype='object')

In [210]:
# drop columns that won't be used for scaling
songQualities = playlistDF.drop(['track_id', 'artists', 'album_name', 'track_name', 'track_genre', 'duration_ms'], axis=1)
songQualities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   popularity        9999 non-null   int64
 1   explicit          9999 non-null   bool
 2   danceability      9999 non-null   float64
 3   energy            9999 non-null   float64
 4   key               9999 non-null   int64
 5   loudness          9999 non-null   float64
 6   mode              9999 non-null   int64
 7   speechiness       9999 non-null   float64
 8   acousticness      9999 non-null   float64
 9   instrumentalness  9999 non-null   float64
 10  liveness          9999 non-null   float64
 11  valence           9999 non-null   float64
 12  tempo             9999 non-null   float64
 13  time_signature    9999 non-null   int64
dtypes: bool(1), float64(9), int64(4)
memory usage: 1.3 MB

In [214]:
# scale data in songQualities
songQualities = StandardScaler().fit_transform(songQualities) #makes list of lists
print(len(songQualities))
songQualities = pd.DataFrame(songQualities,
                             columns = ['popularity', 'explicit', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature'], )
songQualities.info()

9999
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   popularity        9999 non-null   float64
 1   explicit          9999 non-null   float64
 2   danceability      9999 non-null   float64
 3   energy            9999 non-null   float64
 4   key               9999 non-null   float64
 5   loudness          9999 non-null   float64
 6   mode              9999 non-null   float64
 7   speechiness       9999 non-null   float64
 8   acousticness      9999 non-null   float64
 9   instrumentalness  9999 non-null   float64
 10  liveness          9999 non-null   float64
 11  valence           9999 non-null   float64
 12  tempo             9999 non-null   float64
 13  time_signature    9999 non-null   float64
dtypes: float64(14)
memory usage: 1.1 MB

In [181]:
scaled_playlistDF= pd.concat([playlistDF[['track_id', 'artists', 'album_name', 'track_name', 'track_genre', 'duration_ms']],songQualities],axis=1)
# # scaled_playlistDF = scaled_playlistDF.iloc[0:9999,:]
scaled_playlistDF

,track_id,artists,album_name,track_name,track_genre,duration_ms,popularity,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,1gUAX2ImxDsB3YDcyxMXlB,美波,カワキヲアメク,カワキヲアメク,anime,251933.0,1.135754,-0.39795,-0.400266,1.020092,0.193256,1.264801,-1.262714,-0.354642,-1.105236,-0.316050,-0.248795,0.209782,0.251379,0.221667
1,1di1C0QI6Y92yZPYn6XYAZ,KANA-BOON,TIME,シルエット,anime,240133.0,1.251491,-0.39795,-1.100851,1.417430,-0.927929,1.276069,0.791945,-0.405302,-1.144854,0.334792,0.603762,-0.423554,-0.988341,0.221667
2,3khEEPRyBeOUabbmOPJzAG,Kenshi Yonezu,KICK BACK,KICK BACK,anime,193495.0,1.830177,-0.39795,-0.160065,1.449036,-1.208226,0.639683,0.791945,0.219894,-1.138160,-0.316728,-0.647555,-0.839747,-0.644642,0.221667
3,1rN9QoVxw5U7TJkyaUR8C1,TK from Ling tosite sigure,Fantastic Magic,unravel,anime,238360.0,1.251491,-0.39795,-0.620450,1.214246,0.473552,1.258142,-1.262714,0.003436,-0.984007,-0.316744,-0.597373,-0.658793,0.444825,0.221667
4,23phSRwoMy48rwFpmuAP8q,Yoko Takahashi,残酷な天使のテーゼ/魂のルフラン,残酷な天使のテーゼ,anime,247746.0,0.499201,-0.39795,0.600570,0.690483,-1.488522,0.620732,-1.262714,-0.420270,-1.088336,-0.314645,-0.497008,0.110258,0.219248,0.221667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0t9X7I69027UILQB4WYCai,Chico Rey & Paraná,"Sucessos de Ouro, Vol. 15",Velha Porteira,sertanejo,224600.0,-0.426696,-0.39795,0.593898,1.381308,-1.208226,0.533661,-1.262714,1.117966,-0.052854,-0.316744,-0.956202,1.761455,1.863902,0.221667
9997,6nYIAevQfh7QhuQYXYLy50,Léo & Raphael,Na Contramão do Sucesso,Aqui É Parana Cunhado,sertanejo,153426.0,-0.426696,-0.39795,1.080971,0.672422,-1.208226,0.364385,0.791945,-0.652848,-0.381114,-0.316552,-0.834254,1.716217,-0.970103,0.221667
9998,7ALQOUgUrUifvmcGMCyvld,Os Serranos,"Os Serranos Interpretam Sucessos Gaúchos, Vol. 3",O Casamento de Doralice,sertanejo,250600.0,-0.484564,-0.39795,1.134349,0.460207,1.594737,-0.268928,0.791945,-0.612550,-0.696374,-0.316744,-0.443049,2.091695,0.281897,0.221667
9999,23iyR47eBWtYZPWReCbAfy,João Paulo & Daniel,Volume 8,Preciso te encontrar,sertanejo,201946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5900,NaN,NaN,NaN,NaN,NaN,NaN,0.788543,-0.39795,0.213580,0.699513,0.193256,1.004100,0.791945,-0.513531,-0.013853,-0.316744,2.173979,0.037876,0.414505,0.221667

In [168]:
# one-hot-encode the "track_genre" column
track_genres= pd.get_dummies(scaled_playlistDF["track_genre"])
track_genres

      anime  chill  emo  grunge  indian  k-pop  pop  pop-film  sad  sertanejo
0         1      0    0       0       0      0    0         0    0          0
1         1      0    0       0       0      0    0         0    0          0
2         1      0    0       0       0      0    0         0    0          0
3         1      0    0       0       0      0    0         0    0          0
4         1      0    0       0       0      0    0         0    0          0
...     ...    ...  ...     ...     ...    ...  ...       ...  ...        ...
9995      0      0    0       0       0      0    0         0    0          1
9996      0      0    0       0       0      0    0         0    0          1
9997      0      0    0       0       0      0    0         0    0          1
9998      0      0    0       0       0      0    0         0    0          1
9999      0      0    0       0       0      0    0         0    0          1

[9999 rows x 10 columns]

In [169]:
#Add track_genres to playlist_df and drop track_genre column
scaled_playlistDF_with_genres = pd.concat([scaled_playlistDF,track_genres],axis=1)
machineLearningDF = scaled_playlistDF_with_genres.drop(
    ['track_id', 'artists', 'album_name', 'track_name', 'track_genre', 'duration_ms']
    , axis=1)
machineLearningDF

,popularity,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,...,anime,chill,emo,grunge,indian,k-pop,pop,pop-film,sad,sertanejo
0,1.135754,-0.39795,-0.400266,1.020092,0.193256,1.264801,-1.262714,-0.354642,-1.105236,-0.316050,...,1,0,0,0,0,0,0,0,0,0
1,1.251491,-0.39795,-1.100851,1.417430,-0.927929,1.276069,0.791945,-0.405302,-1.144854,0.334792,...,1,0,0,0,0,0,0,0,0,0
2,1.830177,-0.39795,-0.160065,1.449036,-1.208226,0.639683,0.791945,0.219894,-1.138160,-0.316728,...,1,0,0,0,0,0,0,0,0,0
3,1.251491,-0.39795,-0.620450,1.214246,0.473552,1.258142,-1.262714,0.003436,-0.984007,-0.316744,...,1,0,0,0,0,0,0,0,0,0
4,0.499201,-0.39795,0.600570,0.690483,-1.488522,0.620732,-1.262714,-0.420270,-1.088336,-0.314645,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.484564,-0.39795,-0.480333,-0.253195,-0.367337,0.756716,0.791945,-0.704660,1.026179,-0.316744,...,0,0,0,0,0,0,0,0,0,1
9996,-0.426696,-0.39795,0.593898,1.381308,-1.208226,0.533661,-1.262714,1.117966,-0.052854,-0.316744,...,0,0,0,0,0,0,0,0,0,1
9997,-0.426696,-0.39795,1.080971,0.672422,-1.208226,0.364385,0.791945,-0.652848,-0.381114,-0.316552,...,0,0,0,0,0,0,0,0,0,1
9998,-0.484564,-0.39795,1.134349,0.460207,1.594737,-0.268928,0.791945,-0.612550,-0.696374,-0.316744,...,0,0,0,0,0,0,0,0,0,1
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1

Finished with Pre-processing data, and now it's time to train the models!

In [88]:
X = machineLearningDF[['popularity', 'explicit', 'danceability',
                       'energy', 'key', 'loudness','mode', 'speechiness',
                       'acousticness', 'instrumentalness', 'liveness',
                       'valence', 'tempo', 'time_signature']]
X.head()

,popularity,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,1.135754,-0.39795,-0.400266,1.020092,0.193256,1.264801,-1.262714,-0.354642,-1.105236,-0.316050,-0.248795,0.209782,0.251379,0.221667
1,1.251491,-0.39795,-1.100851,1.417430,-0.927929,1.276069,0.791945,-0.405302,-1.144854,0.334792,0.603762,-0.423554,-0.988341,0.221667
2,1.830177,-0.39795,-0.160065,1.449036,-1.208226,0.639683,0.791945,0.219894,-1.138160,-0.316728,-0.647555,-0.839747,-0.644642,0.221667
3,1.251491,-0.39795,-0.620450,1.214246,0.473552,1.258142,-1.262714,0.003436,-0.984007,-0.316744,-0.597373,-0.658793,0.444825,0.221667
4,0.499201,-0.39795,0.600570,0.690483,-1.488522,0.620732,-1.262714,-0.420270,-1.088336,-0.314645,-0.497008,0.110258,0.219248,0.221667

In [89]:
#Make list of genres to train for
genre_models_to_make = ['anime', 'chill', 'emo', 'grunge', 'indian', 'k-pop',
          'pop', 'pop-film', 'sad', 'sertanejo']

models={}

#import tree modeule and train_test_split
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


#Loop through genres to make an h5 file for each
for genre in genre_models_to_make:
  #Make y = target genre
  y = machineLearningDF[[genre]]
  print(y.nunique)

  #Split into train_test
  X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

  #Make the tree instance and train it
  treeModel = tree.DecisionTreeClassifier()
  treeModel = treeModel.fit(X_train, y_train)

  #append model to models dictionary
  models[genre] = treeModel

  #OPTIONAL - SHOW PREDICTIONS FOR EACH MODEL
  predictedValues = treeModel.predict(X_test)
  accuracyScore = accuracy_score(y_test, predictedValues)
  print(f"Decision Tree Accuracy for {genre}: {(accuracyScore*100):.2f}%")
  treeModel.save(f'{genre}Tree.h5')

<bound method DataFrame.nunique of       anime
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
...     ...
9996    0.0
9997    0.0
9998    0.0
9999    0.0
5900    NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       chill
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
9996    0.0
9997    0.0
9998    0.0
9999    0.0
5900    NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       emo
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
9996  0.0
9997  0.0
9998  0.0
9999  0.0
5900  NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       grunge
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
9996     0.0
9997     0.0
9998     0.0
9999     0.0
5900     NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       indian
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
9996     0.0
9997     0.0
9998     0.0
9999     0.0
5900     NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       k-pop
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
9996    0.0
9997    0.0
9998    0.0
9999    0.0
5900    NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       pop
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
9996  0.0
9997  0.0
9998  0.0
9999  0.0
5900  NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       pop-film
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
9996       0.0
9997       0.0
9998       0.0
9999       0.0
5900       NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       sad
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
9996  0.0
9997  0.0
9998  0.0
9999  0.0
5900  NaN

[10000 rows x 1 columns]>
<bound method DataFrame.nunique of       sertanejo
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
9996        1.0
9997        1.0
9998        1.0
9999        1.0
5900        NaN

[10000 rows x 1 columns]>